<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
  <!-- Уровень логирования. Меняйте только если знаете, что делаете:
        0 - логирование только ошибок
        1 - логирование запросов к БД
        2 - полный лог -->

	 <add key="LogLevel" value="0"/>
	  
    <add key="SupabaseKey" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAlYATfkS1dEGRsr9b1Dp+aAAAAAACAAAAAAAQZgAAAAEAACAAAAD6oooKgcaov7QaOcGepAlxY6ufg3JlZEt2AEGmf7Hv+gAAAAAOgAAAAAIAACAAAAAU/1V8ynEWqpsbY71aq5SrLcQsut6H3vDF3EPvi/KlQeAAAAAtlUfFBWRfd+ylZYJFieYag+ObIq1qIFb1tgaa67AxPnbsmDihL6abT5Ru+F//ALtZhzfWEL3A2Sh9uFnc0q5wcEmtqG84eDWcn8XlC0LoREraUkcLJCk9aar+Ym1IG7EbUO3YyoBd1QQJeMbpOwe0mApaGGRtenlAcufWKxy5rZlYaXHzEnsrIgr+AW4NypX4+ByYITZhvSnHGV1P9ZrPe8ZSyE/b2ahkpKe4ClTou+MvovcGWogEbjwyj7uZYk7deqXtj65Z0+YWkc7XDdO5PJaw1xqsnSO1STrenCitQEAAAADVainjmKXFgY498potaDaNLNYSG9iOnEfIy8HGfI6s7jtfGzmHg4nHfNTxR08Ly8WB/JYvbhs/kJGct+RCj9jD" />
    <add key="SupabaseUrl" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAlYATfkS1dEGRsr9b1Dp+aAAAAAACAAAAAAAQZgAAAAEAACAAAACjzx3EIPJ79ox58/P8GNEtQaDcnNQNQ85l8lJcyRCk4AAAAAAOgAAAAAIAACAAAAC0XF1rDL2UIugI3SvZo65VJZBzBQI9eSeWsEV9FiRldzAAAADkvg6iGhmcllr8zQ7IMl5KiwnhbEuKQN8MrqpYORY6g4CylR0sJU+fp1btFdZGV3FAAAAAZSfCUaTU8w4G8KbvgjNVOkx3g+T3D3dwWSeCAahwcEBhXvbsBECD186pi9v3VkU5U+37dFPPAyoGalreL2E93g==" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.4" newVersion="10.0.0.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.4" newVersion="10.0.0.4" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>